<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</head>
<body>
    <div id="display"></div>
        
    <script>
        $(document).ready(function(){
        
        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "get_name/",
                success: function(response){
                    console.log(response);
                    $("#display").empty();
                    for (var key in response.name)
                    {
                        var temp="<div>"+response.name[key].name+"</div>";
                        $("#display").append(temp);
                    }
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        },200);
        })
        </script>
    <div>
        <form id="post-form">
            {% csrf_token %}
            <input type="text" name="name" id="name" placeholder="Enter Name">
            <input type="submit" value="Save">
        </form>
        <ul id="list">
            
        </ul>
    </div>
</body>
<script type="text/javascript">
    $(document).on('submit','#post-form',function(e){
      e.preventDefault();
  
      $.ajax({
        type:'POST',
        url:'/save',
        data:{
            name:$('#name').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data){
           //alert(data)
        }
      });
      document.getElementById('name').value = ''
    });
  </script>
</html>